@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.all{
    text-align: center;
}
.totalrv, .insertedRevenue{
    font-size: 50px;
}
.totalrv{
    height: auto;
    width: auto;
    padding: 200px;
}
.block{
    display: inline-block;
    position: relative;
    justify-content:space-between;
    align-items: center;
}