/* By using bootstrap, many css codes could be dismissed */
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.category-women:hover{
    cursor: pointer;
}
.category-men:hover{
    cursor: pointer;
}
.category-accessories:hover{
    cursor: pointer;
}
.category-women-nonmobile:hover{
    cursor: pointer;
}
.category-men-nonmobile:hover{
    cursor: pointer;
}
.category-accessories-nonmobile:hover{
    cursor: pointer;
}
/* max-width/height, not width/height */
/* note: max width/height must assign to "100%" or fail */
.product-img{
    max-width: 90%;
    max-height: 90%;
    min-width: 153px;
    min-height: 204px;
    padding: 0px;
}
.product-color-btn{
    border: 2px solid black;
    padding: 4px 7px;
}
.product-details{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 1px;
    padding-right: 1px;
}