.logo {
    width: 258px;
    height: 48px;
}
.search-btn{
    width: 44px;
    height: 44px;
}






@media screen and (max-width: 1200px){
    .logo {
        width: 129px;
        height: 24px;
    }
    .search-btn{
        width: 40px;
        height: 40px;
    }
}